@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: 'Tajawal', sans-serif;
  background-color: #f8fafc;
}

*:focus {
  outline: none !important;
}

.recharts-wrapper:focus {
  outline: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    background-color: white;
  }
  #root {
    padding: 0;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
